@tailwind base;
@tailwind components;
@tailwind utilities;

.hero1 {
    background: url("/assets/bg-1.png")
}

.gaze1 {
    background: url("/assets/gaze-1-min2.png"), #519ae2
}

  @media only screen and (max-width: 639px) {
    .gaze1 {
        background: url("/assets/gaze-1-smaller-min.png"), #519ae2
    }
  }

  @media only screen and (min-width: 3000px) {
    .gaze1 {
        background: url("/assets/gaze-1.png"), #519ae2
    }
  }

.amster {font-family: "amster", serif;}


@keyframes topFadeIn {
    0% {
      position: relative;
      top: -15px;
      opacity: 0;
    }
  
    100% {
      position: relative;
      top: 0px;
      opacity: 1;
    }
  }
  
  .fadeintop {
    animation-name: topFadeIn;
    animation-duration: 2s;
  }

  body {
    height: 100vh;
  }